@import "tailwindcss";

:root {
  /* Containers */
  --main-container-bg: #ffffff;
  --sub-container-bg: #ffffff;
  --container-bg-option-1: #f3f5f8;
  --modal-bg: #ffffff;
  --form-bg: #f7f7f7;
  --auth-page-bg: #f3f5f8;

  /* Container borders */
  --sub-container-border: #e0e4ea;

  /* Text Colors */
  --heading-text: #0e121b;
  --subheading-text-1: #525866;
  --body-text-1: #555555;
  --body-text-2: #2b303b;
  --link-text-hover-color: "0e121b";

  /* Primary Button */
  --btn-primary-bg: #335cff;
  --btn-primary-hover-bg: #2547d0;
  --btn-primary-active-bg: #335cff;
  --btn-primary-text: #ffffff;

  /* Secondary Button */
  --btn-secondary-bg: #cacfd8;
  --btn-secondary-hover-bg: #ebeef8;
  --btn-secondary-active-bg: #cacfd8;
  --btn-secondary-text: #525866;
  --btn-secondary-hover-text: #0e121b;
  --btn-secondary-active-text: #0e121b;
  --btn-secondary-border: #cacfd8;

  /* Outlined Button */
  --btn-outlined-bg: #ffffff;
  --btn-outlined-text: #0e121b;
  --btn-outlined-hover-bg: #f2f2f2;
  --btn-outlined-hover-text: #525866;
  --btn-outlined-active-bg: #ffffff;
  --btn-outlined-active-text: #0e121b;
  --btn-outlined-border: #cacfd8;

  /* Warning Button */
  --btn-warning-bg: #fb3748;
  --btn-warning-hover-bg: #e23240;
  --btn-warning-active-bg: #fb3748;
  --btn-warning-text: #ffffff;

  /* border color for button when active */
  --btn-active-border: #0e121b;

  /* Color for disabled buttons */
  --btn-disabled-bg: #f3f5f8;
  --btn-disabled-text: #cacfd8;

  /* color for button shadow when active */
  --btn-inner-shadow-color: #ffffff;
  --btn-outer-shadow-color: #99a0ae;

  /* text input colors */
  --input-field-border: #cacfd8;
  --input-field-label-color: #0e121b;
  --input-field-subLabel-color: #0e121b;
  --input-field-info-text: #525866;
  --input-field-disabled-bg: #f5f7fa;
  --input-field-hover-bg: #f5f7fa;

  /* warning text color */
  --warning-color: #fb3748;

  /* success color */
  --success-color: #43a047;

  /* divider color */
  --divider: #e0e4e4;

  /* loader dots */
  --loader-color: #000000;

  /* Modal */
  --modal-bg: #ffffff;
  --modal-overlay: rgba(0, 0, 0, 0.4);
  --modal-border: #e0e4ea;
}

@layer components {
  /* 24px / 120% / -0.5px / bold */
  .text-preset-1 {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
    font-weight: 700; /* bold */
  }

  /* 20px / 120% / -0.5px / bold */
  .text-preset-2 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.5px;
    font-weight: 700; /* bold */
  }

  /* 16px / 120% / -0.3px / semibold */
  .text-preset-3 {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.3px;
    font-weight: 600; /* semibold */
  }

  /* 14px / 120% / -0.2px / medium */
  .text-preset-4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.2px;
    font-weight: 500; /* medium */
  }

  /* 14px / 120% / -0.2px / regular */
  .text-preset-5 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.2px;
    font-weight: 400; /* regular */
  }

  /* 12px / 120% / -0.2px / regular */
  .text-preset-6 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.2px;
    font-weight: 400; /* regular */
  }

  /* 12px / 140% / 0px / regular */
  .text-preset-7 {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 400; /* regular */
  }
}
